

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

/*Fuente*/

body {
   font-family: 'Lexend Mega', sans-serif;
}


/*Barra de Navegación*/

.navbar {
   background-color: #ffffff;
}

.navbar-brand {
   max-height: 108px;
}

.logo-brand {
   min-height: 100px;
   max-height: 100px;
}

.navbar .navbar-collapse {
   text-align: center;
}

.navbar .nav-link:hover {
   color: #c58e07;
 }

.nav-link {
   color: #424242;
 }
 
 .nav-link:hover {
   color: #424242;
 }

 .navbar-toggler {
    font-size: 2rem;
 }

.btn {
   color: #ffffff;
   background-color: #424242;
   border-color: #ffffff;
}

.btn:hover {
   color: #424242;
   background-color: transparent;
   border-color: #424242;
}


/*Primer Sección*/

hr {
   background-color: #f78f1e;
   color: #f78f1e;
   height: 6px;
 }

#primerseccion {
   background-color: #ffffff;
   color: #424242;
}

#primerseccion h3 {
   color: #424242;
}

#primerseccion a {
   color: #424242;
}

/*Segunda Sección*/

#segundaseccion {
   background-color: #7a8e7f;
   color: #424242;
}

#segundaseccion a {
   color: #424242;
}

figure.snip0015 {
   font-family: 'Raleway', Arial, sans-serif;
   color: #fff;
   position: relative;
   overflow: hidden;
   margin: 0px;
   padding: 0px;
   min-width: 220px;
   max-width: 310px;
   max-height: 220px;
   width: 100%;
   background: #000000;
   text-align: center;
 }
 figure.snip0015 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 figure.snip0015 img {
   opacity: 1;
   width: 100%;
   -webkit-transition: opacity 0.35s;
   transition: opacity 0.35s;
 }
 figure.snip0015 figcaption {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 3em 3em;
   width: 100%;
   height: 100%;
 }
 figure.snip0015 figcaption::before {
   position: absolute;
   top: 50%;
   right: 30px;
   bottom: 50%;
   left: 30px;
   border-top: 1px solid rgba(255, 255, 255, 0.8);
   border-bottom: 1px solid rgba(255, 255, 255, 0.8);
   content: '';
   opacity: 0;
   background-color: #ffffff;
   -webkit-transition: all 0.4s;
   transition: all 0.4s;
   -webkit-transition-delay: 0.6s;
   transition-delay: 0.6s;
 }
 figure.snip0015 h3,
 figure.snip0015 p {
   margin-bottom: 0px;
   opacity: 0;
   -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
   transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
 }
 figure.snip0015 h3 {
   word-spacing: -0.15em;
   font-weight: 300;
   text-transform: uppercase;
   -webkit-transform: translate3d(0%, 50%, 0);
   transform: translate3d(0%, 50%, 0);
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s;
 }
 figure.snip0015 h3 span {
   font-weight: 800;
 }
 figure.snip0015 p {
   font-weight: 200	;
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
 }
 figure.snip0015 a {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   color: #ffffff;
 }
 figure.snip0015:hover img {
   opacity: 0.35;
 }
 figure.snip0015:hover figcaption h3 {
   opacity: 1;
   -webkit-transform: translate3d(0%, 0%, 0);
   transform: translate3d(0%, 0%, 0);
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s;
 }
 figure.snip0015:hover figcaption p {
   opacity: 0.9;
   -webkit-transition-delay: 0.6s;
   transition-delay: 0.6s;
 }
 figure.snip0015:hover figcaption::before {
   background: rgba(255, 255, 255, 0);
   top: 30px;
   bottom: 30px;
   opacity: 1;
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
 }
 
/* Seccion 3 */

#parallax {
   background-image: url("../img/instalaciones/alberca-1.png");
   background-size: cover;
   color: #ffffff;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 #parallax .container {
   padding-top: 200px;
   padding-bottom: 200px;
 }

 #parallax h3 {
   color: #ffffff;
}

#parallax a {
   color: #ffffff;
}

#parallax .btn {
   font-size: 24px;
   color: #424242;
   background-color: #ffffff;
}

#parallax .btn:hover {
   color: #ffffff;
   background-color: transparent;
   border-color: #ffffff;
}

/* Google Maps */

.google-maps {
   position: relative;
   padding-top: 50%;
   height: 0;
   overflow: hidden;
}

.google-maps iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
}

/*Pie de Página*/

footer {
   background-color: #7a8e7f;
   color: #424242;
   font-weight: 600;
}

hr {
   background-color: #ffffff;
}

footer h3 {
   color: #424242;
}

footer a {
   color: #424242;
}

#footer-columna1 {
   text-align: center;
}

#footer-columna2 {
   text-align: left;
}

#footer-columna3 {
   text-align: right;
}

footer #info {
   border-bottom: 1px solid #424242;
 }

#copyright {
   margin-top: 10px;
 }

  /* Media queries */

  @media (max-width: 575.98px) { 
   #footer-columna2 p {
      font-size: 12px;
   }
  }
 
 @media (min-width: 576px) and (max-width: 767.98px) { 
   #footer-columna2 p {
      font-size: 1rem;
   }
  }
 
 @media (min-width: 768px) and (max-width: 991.98px) { 
   #footer-columna2 p {
      font-size: 1rem;
   }
  }
 
 @media (min-width: 992px) and (max-width: 1199.98px) { 
   #footer-columna2 p {
      font-size: 1rem;
   }
  }
 
 @media (min-width: 1200px) { 
   #footer-columna2 p {
      font-size: 1rem;
   }
 
  }
